.container {
  display: flex;
  justify-content: space-between;
  max-width: 97%;
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 64px;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.logo {
  height: 54px;
  width: 58px;
  display: block;
  background-image: url("/images/logo.png");
  background-size: cover;
}

.quantity {
  display: inline-block;
  background: black;
  color: white;
  padding: 6px 13px;
  border-radius: 32px;
  margin-left: 6px;
}