.productContainer {
}

.productUl {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -25px;
    grid-gap: 20px;
}

.productUl img {
    margin-bottom: 20px;
}

.productUl li {
    list-style: none;
}